.component-outfit {
    position: absolute;
}

.hat {
    position: absolute;
    top: -162px;
    left: -40px;
}

.hat.fedora {
    top: -138px;
    left: -49px;
}

.aura {
    position: absolute;
    top: -225px;
    left: -245px;
    width: 500px;
}

.boots {
    position: absolute;
    top: 100px;
    left: -60px;
    width: 120px;
}